<p><small>Also available on all major podcast platforms: 
<a href="https://anchor.fm/auto-biog-queasy-memoirs">Anchor</a> | 
<a href="https://itunes.apple.com/us/podcast/automatic-biography-queasy-memoirs/id1449897958?mt=2&uo=4">Apple</a> | 
<a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy81MTcyZWQ4L3BvZGNhc3QvcnNz">Google</a> | 
<a href="https://open.spotify.com/show/51DjRHxB2DLS9OOteyeDxJ">Spotify</a> | 
<a href="https://www.breaker.audio/automatic-biography-queasy-memoirs">Breaker</a> | 
<a href="https://overcast.fm/itunes1449897958/automatic-biography-queasy-memoirs">Overcast</a> | 
<a href="https://pca.st/EmH0">Pocket Casts</a> | 
<a href="https://radiopublic.com/automatic-biography-queasy-memoir-6v3jne">Radio Public</a> | 
<a href="https://www.stitcher.com/podcast/anchor-podcasts/automatic-biography-queasy-memoirs">Stitcher</a>

</small></p>