<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">Automatic Biography</a></h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Also available on all major podcast platforms: 
          <a href="https://anchor.fm/auto-biog-queasy-memoirs">Anchor</a> | 
          <a href="https://itunes.apple.com/us/podcast/automatic-biography-queasy-memoirs/id1449897958?mt=2&uo=4">Apple</a> | 
          <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy81MTcyZWQ4L3BvZGNhc3QvcnNz">Google</a> | 
          <a href="https://open.spotify.com/show/51DjRHxB2DLS9OOteyeDxJ">Spotify</a> | 
          <a href="https://www.breaker.audio/automatic-biography-queasy-memoirs">Breaker</a> | 
          <a href="https://overcast.fm/itunes1449897958/automatic-biography-queasy-memoirs">Overcast</a> | 
          <a href="https://pca.st/EmH0">Pocket Casts</a> | 
          <a href="https://radiopublic.com/automatic-biography-queasy-memoir-6v3jne">Radio Public</a> | 
          <a href="https://www.stitcher.com/podcast/anchor-podcasts/automatic-biography-queasy-memoirs">Stitcher</a>
          
          </small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
